$red: #EE134A;
$yellow: #fbd04a;
$lightgrey: #ddd;
$darkgrey: #ccc;

.Hero {
  padding: 150px 0px;

  h1 {
    margin-bottom: 20px;
  }

  span.fa {
    color: $red;
    font-size: 125px;
    margin-bottom: 25px;
  }
}

.SearchGems {
  input {
    font-size: 25px;
    padding: 20px 30px;
    min-width: 500px;
  }
}

.GemTile {
  .GemTile-card {
    height: 300px;
    margin-bottom: 30px;
    position: relative;
    color: black;
    cursor: pointer;
    transition: 0.5s border;

    &:hover {
      text-decoration: none;
      border: 1px solid rgba(0,0,0,.5);
    }

    .GemTile-gem {
      color: $red;
      font-size: 22px;
    }

    .GemTile-star {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $lightgrey;
      font-size: 22px;
      transition: 0.5s color;

      &.GemTile-star-saved {
        color: $yellow;
      }

      &:hover {
        color: $yellow;
      }
    }

    .GemTile-info {
      -webkit-line-clamp: 6;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
}

.FakeGemTiles {
  .FakeGemTiles-card {
    height: 300px;
    margin-bottom: 30px;
    background-color: $lightgrey;

    span.fa {
      font-size: 100px;
      color: $darkgrey;
    }
  }
}
